#prompt-textarea {
    padding-right: 5rem;
}

#cgpt-customizer-micListener {
    position: absolute;
    right: 3rem;
    top: 50%;
    transform: translateY(-50%);
}

#cgpt-customizer-micListener,
#cgpt-customizer-screenRecorder {
    padding: 0.5rem;
    transition-duration: .15s;
    transition-property: color,background-color,border-color,text-decoration-color,fill,stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    border-radius: 0.375rem;
    color: rgb(25, 195, 125);
 }

#cgpt-customizer-micListener[disabled],
#cgpt-customizer-screenRecorder[disabled] {
    --tw-text-opacity: 1;
    color: rgba(172,172,190,var(--tw-text-opacity));
    background-color: transparent;
}

#cgpt-customizer-micListener[disabled]:hover,
#cgpt-customizer-screenRecorder[disabled]:hover {
    background-color: transparent;
}

#cgpt-customizer-micListener[disabled] svg path,
#cgpt-customizer-screenRecorder[disabled] svg path {
    fill: rgba(142,142,160,var(--tw-text-opacity));
}

#cgpt-customizer-micListener:not([disabled]):hover,
#cgpt-customizer-screenRecorder:not([disabled]):hover {
    background-color: rgb(25, 195, 125);
    color: rgb(255, 255, 255);
}

#cgpt-customizer-micListener:not([disabled]),
#cgpt-customizer-screenRecorder:not([disabled]) {
    cursor: pointer;
}

#cgpt-customizer-screenRecorder {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    z-index: 2147483647;
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

*#cgpt-customizer-screenRecordDownloader {
    display: none !important;
}

*.cgpt-customizer-hidden-elem {
    display: none !important;
}
